SharedResource/Schema/Apps/OPE_02_03/Date.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="bsr/apps/date/1.0"
	 targetNamespace="bsr/apps/date/1.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="toDate" type="xs:string"/>
				<xs:element name="fromDate" type="xs:string"/>
				<xs:element name="nDays" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>