SharedResource/Schema/Common/KPIsSchedulesEvelop.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="bsr/common/apps/kpischedulesenv/1.0"
	 targetNamespace="bsr/common/apps/kpischedulesenv/1.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="KPIsSchedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="KPIsName" type="xs:string"/>
				<xs:element name="ScheduleDate" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>